.title {
    text-align: center;
    font-size: xx-large;
    background-color:#FF6600;
}

html {
    background-color: #00A3E0;
}

button {
    color: black;
    background-color: #EA4C89;
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    height: 40px;
    line-height: 20px;
    list-style: none;
    margin: 0;
    outline: none;
    padding: 10px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    vertical-align: baseline;
    touch-action: manipulation;
}

button:hover,
button:focus {
    background-color:#FF6600;
}

.ageQuestion{
    text-align: center;
    border: #FF6600 solid;
    background-color: black;
    color: #00A3E0;
    padding: 30px;
    max-width: 30%;
    margin: auto;   
}

.btn1{
margin: 10px;
}

.btn2{
margin: 10px;
}
.mainQuestion {
    text-align: center;
}

.mainImageArea {
    text-align: center;

}

.finalQuestion {
    text-align: center;
}

.ourRecommendations {
    border: #FF6600 solid;
    padding: 30px;
    margin-top: 5%;
}

.bottomSection {
    display: flex;
    justify-content: space-around;
}

#usersFavorites {
    border: #FF6600 solid;
    padding: 30px;
    margin-top: 5%;
}